*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsla(0, 0%, 0%, 0.87);
    line-height: 1.875;
}

.header{
    text-align: center;
    background-color: rgb(133, 10, 10);
    top: 0;
    left: 0;
    right: 0;
    padding: 31px 87px;
}

.header nav a{
    color: black;
    text-decoration: none;
    padding: 0 20px;
    white-space: nowrap;
    font-size: 150%;
}
.header nav a:hover, .header .active{
    background-color: black;
    color: rgb(133, 10, 10);
    opacity: 1;
}

.fb{
    float: left;
}
.tw {float: right;}


.div-img {
    height :427px;
    background: no-repeat center center / cover url(photo/Logo_Stade_Rennais_FC.svg.png);
}

.main{
    width: 100%;
}
.main h2{
    text-align: center;
}
.article{
    width: 100%;
}
.article a{
    text-align: center;
    text-decoration: none;
    color: black;
}
.p{
    text-align: justify;
}

.sidebar{
    width: 100%;
    background: #FBFBFB;
}
.cat a{
    text-decoration: none;
    color: black;
    opacity: .6;
}
.cat a:hover{
    opacity: 1;
}
.ligne{
    width: 80%;
}
.title{
    text-align: center;
}
footer{
    text-align: right;
    clear: both;
}


@media screen and (min-width:600px) {
    .div-img {
        height :427px;
        background: no-repeat center center / cover url(photo/banniere.jpg);
    }

}

@media screen and (min-width:1000px) {
    .main{
        float: left;
        width:65%;
    }
    .article{
        padding-left: 15%;
        width: 80%;
    }

    .sidebar{
        float: right;
        width: 35%;
    }
}


/**

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsla(0, 0%, 0%, 0.87);
    line-height: 1.875;
}

.header{
    position: absolute fixed;
    background-color: rgb(133, 10, 10);
    top: 0;
    left: 0;
    right: 0;
    padding: 31px 87px;
}

.header nav{
    float: left;
}

.header nav a{
    color: black;
    text-decoration: none;
    padding: 0 50px;
    opacity: .5;
}

.header nav a:hover, .header .active{
    background-color: black;
    color: rgb(133, 10, 10);
    opacity: 1;
}
.header-image{
    float: right;
}

.header-image a {
    margin-right: 15px;
    opacity: .5;
}

.header-image a:hover{
    opacity: 1;
}
.sidebar{
    float: right;
    width: 20%;
    background: #FBFBFB;
}
.main{
    width: 80%;
    float: left;
    padding: 5% 20% 0 20%;
}
.cat a{
    text-decoration: none;
    color: black;
    opacity: .6;
}
.cat a:hover{
    opacity: 1;
}
.ligne{
    width: 80%;
}
.title{
    text-align: center;
}
footer{
    clear: both;
}
.Match{
    text-decoration: none;
    color: red;
}
**/